

<p-card header="{{ 'maps.trackAltitudeLegend' | translate }}">
  <ul class="space-y-2">
    <!-- < 100 m — Very low -->
    <li class="flex items-center">
      <span class="w-4 h-4 rounded-full bg-black border border-gray-500 mr-2"></span>
      <span></span>
    </li>

    <!-- 100–200 m — Low -->
    <li class="flex items-center">
      <span
        class="w-4 h-4 rounded-full"
        style="background-color: #800000; border: 1px solid #666; margin-right: 0.5rem;"
      ></span>
      <span></span>
    </li>

    <!-- 200–300 m — Moderate (Violet) -->
    <li class="flex items-center">
      <span
        class="w-4 h-4 rounded-full"
        style="background-color: #800080; border: 1px solid #666; margin-right: 0.5rem;"
      ></span>
      <span></span>
    </li>

    <!-- 300–400 m — Medium (Blue) -->
    <li class="flex items-center">
      <span
        class="w-4 h-4 rounded-full bg-blue-600 border border-gray-500 mr-2"
      ></span>
      <span></span>
    </li>

    <!-- > 400 m — High (Light Blue) -->
    <li class="flex items-center">
      <span class="w-4 h-4 rounded-full bg-sky-400 border border-gray-500 mr-2"></span>
      <span></span>
    </li>
  </ul>
</p-card>
