<p-drawer
    [(visible)]="isVisible"
    (onHide)="onHide()"
    modal="false"
    appendTo=""
    styleClass="border-none p-drawer-bottom-append"
    position="bottom"
    showCloseIcon="false"
>
    <ng-template #header>
        <ng-container>
            <div class="flex items-center justify-between w-full mb-0 gap-2">
                <div class="text-900 text-xl font-semibold whitespace-nowrap">ID: {{id}}</div>
                <div class="flex items-center ml-auto">
                    <p-button
                        *ngIf="isSmallScreen"
                        class="text-xl  "
                        [rounded]="true"
                        badgeSeverity="contrast"
                        (click)="toggleSideBar()"
                        size="large"
                        icon="pi pi-map"
                        [text]="true"
                    />

                    <p-button
                        class="text-xl ml-4"
                        [rounded]="true"
                        badgeSeverity="contrast"
                        size="large"
                        (click)="onClose()"
                        icon="pi pi-times"
                        [text]="true"
                    />
                </div>
            </div>
        </ng-container>
    </ng-template>
    <div class="grid">
        <div class="col-span-12 lg:col-span-12 h-full">
            <div class="grid grid-cols-12 gap-4">
                <ng-container *ngIf="data">
                    <div class="col-span-12">
                        <!-- Date Time -->
                        <div class="flex justify-between items-center mb-3">
                            <span class="font-bold text-xl">{{ 'date'    | translate }}</span>
                            <span class="font-bold text-xl">
                                {{
                                data.timestamp && data.timestamp !== '–'
                                ? (data.timestamp | date:'dd.MM.yyyy')
                                : '–'
                                }}
                            </span>
                        </div>
                        <div class="flex justify-between items-center mb-3">
                            <span class="font-bold text-xl">{{ 'time'    | translate }}</span>
                            <span class="font-bold text-xl">
                                {{
                                data.timestamp && data.timestamp !== '–'
                                ? (data.timestamp | date:'HH:mm:ss')
                                : '–'
                                }}
                            </span>
                        </div>

                        <!-- Coordinates -->
                        <div class="flex justify-between items-center mb-3">
                            <span class="font-semibold">{{ 'coordinates'    | translate }}</span>
                            <span class="font-semibold">
                                {{ data.latitude != null
                                ? (data.latitude | number:'1.5-5')
                                : '-'
                                }}
                                ,
                                {{ data.longitude != null
                                ? (data.longitude | number:'1.5-5')
                                : '-'
                                }}
                            </span>
                        </div>

                        <!-- Altitude -->
                        <div class="flex justify-between items-center mb-3">
                            <span class="font-semibold">{{ 'altitude'    | translate }}</span>
                            <span class="font-semibold">
                                {{ data.altitude != null
                                ? (data.altitude | number:'1.0-1') + ' m'
                                : '–'
                                }}
                            </span>
                        </div>

                        <!-- Speed -->
                        <div class="flex justify-between items-center mb-3">
                            <span class="font-semibold">{{ 'speed'    | translate }}</span>
                            <span class="font-semibold">
                                {{ data.speed != null
                                ? ((data.speed * 3.6) | number:'1.0-1') + ' km/h'
                                : '–'
                                }}
                            </span>
                        </div>
                    </div>
                </ng-container>






                <div
                    [formGroup]="form"
                    class="col-span-12  border-t border-surface"
                >
                    <div class="flex flex-row flex-wrap items-center mt-6">

                        <div class="flex-grow">
                            <div class="flex flex-wrap justify-between gap-6">
                                <label
                                    for="online"
                                    class="block font-semibold"
                                >{{ 'online'    | translate }}</label>
                                <p-toggleswitch formControlName="isRepeat" />
                            </div>
                        </div>


                    </div>
                    <div class="flex flex-col gap-2">
                        <span class="block font-semibold">{{ 'history'    | translate }}</span>
                        <p-timeline
                            [value]="formFields"
                            class="w-full"
                        >

                            <ng-template
                                pTemplate="marker"
                                let-event
                            >
                                <span
                                    class="p-timeline-event-marker"
                                    [ngStyle]="{'border-color': event.type === 'loading' ? '#8BDE8C' : (event.type === 'unloading' ? '#FF5757' : '')}"
                                >
                                </span>
                            </ng-template>

                            <ng-template
                                #content
                                let-event
                            >
                                <p-datepicker
                                    class="w-full"
                                    inputStyleClass="w-full"
                                    styleClass="w-full"
                                    [placeholder]="event?.placeholder"
                                    [formControlName]="event.formControlName"
                                    [readonlyInput]="false"
                                    [showTime]="true"
                                    [hourFormat]="'24'"
                                    inputId="date"
                                >

                                </p-datepicker>
                            </ng-template>
                        </p-timeline>

                    </div>

                </div>
            </div>
        </div>

    </div>
</p-drawer>