<div class="p-4">
    <h2 class="font-semibold text-xl! mb-4">Transport</h2>
    <p-listbox
        [options]="data"
        [(ngModel)]="active"
        [checkmark]="true"
        metaKeySelection="true"
        (onChange)="onChange($event)"
        
        [highlightOnSelect]="true"
        styleClass="border-none shadow-none"
        listStyleClass="max-h-60"
        class="w-full md:w-56"
    >
        <ng-template
            let-item
            #item
        >
            <div class="flex items-center justify-between w-full px-2 py-1">
                <div class="flex items-center space-x-2">
                    <span
                        class="w-3 h-3 rounded-full"
                        [style.backgroundColor]="item.color"
                    ></span>
                    <span class="font-bold">{{ item.id }}</span>
                </div>
                <i class="pi pi-angle-right text-base" style="font-size: 1.3rem"></i>
            </div>
        </ng-template>

    <ng-template let-item #empty>
    <ng-container *ngFor="let _ of skeletons">
      <div class="w-full  pb-3.5">
        <p-skeleton
          styleClass="block w-full"
          [style]="{ height: '3.80rem' }"
        ></p-skeleton>
      </div>
    </ng-container>
  </ng-template>
    </p-listbox>
</div>