<p-confirmdialog
  #error
  key="error"
  [appendTo]="'body'"
  maskStyleClass=""
  [baseZIndex]="40000"
  [autoZIndex]="true"
>
  <ng-template
    #headless
    let-message
  >
    <div class="flex flex-col items-center p-4 border-round">
      <div
        class="rounded-full inline-flex justify-center items-center h-[6rem] w-[6rem]"
        style="background: #f87171;"
      >
        <i
          class="pi pi-times text-5xl"
          style="color: #fff;"
        ></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header || 'Произошла ошибка' }}
      </span>
      <p class="mb-0">{{ message.message || 'Повторите попытку позднее' }}</p>
      <div class="flex items-center gap-2 mt-4">
        <button
          pButton
          label="Закрыть"
          (click)="error.onAccept()"
          class="w-[26rem] "
        >
        </button>
      </div>
    </div>
  </ng-template>
</p-confirmdialog>


<p-confirmdialog
  #success
  key="success"
  [appendTo]="'body'"
  maskStyleClass=""
  [baseZIndex]="40000"
  [autoZIndex]="true"
>
  <ng-template
    #headless
    let-message
  >
    <div class="flex flex-col items-center p-4 border-round">
      <div
        class="rounded-full inline-flex justify-center items-center h-[6rem] w-[6rem]"
        style="background: #1ea97c;"
      >
        <i
          class="pi pi-check text-5xl"
          style="color: #fff;"
        ></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header || 'Успешно' }}
      </span>
      <p class="mb-0">{{ message.message || 'Данные сохранены' }}</p>
      <div class="flex items-center gap-2 mt-4">
        <button
          pButton
          label="Закрыть"
          (click)="success.onAccept()"
          class="w-[26rem] "
        >
        </button>
      </div>
    </div>
  </ng-template>
</p-confirmdialog>

<p-confirmdialog
  #confirm
  key="confirm"
  [appendTo]="'body'"
  maskStyleClass=""
  [baseZIndex]="40000"
  [autoZIndex]="true"
>
  <ng-template
    #headless
    let-message
  >
    <div class="flex flex-col items-center p-4 border-round">
      <div class="rounded-full  bg-primary inline-flex justify-center items-center h-[6rem] w-[6rem]">
        <i
          class="pi pi-info text-5xl"
          style="color: #fff;"
        ></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header || 'Подтверждение' }}
      </span>
      <p class="mb-0">{{ message.message || 'Вы уверены, что хотите продолжить?' }}</p>
      <div class="flex items-center gap-2 mt-4">
        <button
          pButton
          label="Отменить"
          (click)="confirm.onReject()"
          class="p-button-outlined w-[13rem] "
        >
        </button>

        <button
          pButton
          label="Продолжить"
          (click)="confirm.onAccept()"
          class="w-[13rem]"
        >
        </button>
      </div>
    </div>
  </ng-template>
</p-confirmdialog>

@if(!(pageLayoutService.isLoading$ | async)) {
@switch(pageLayoutService.layout$ | async) {

@case(PageLayout.authorized) {
<div
  class="layout-container"
  [ngClass]="containerClass"
>
  <app-authorized-layout>
    <router-outlet (activate)="onActivateRouterOutlet()"></router-outlet>
  </app-authorized-layout>
</div>
}

@case(PageLayout.unAuthorized) {


<div
  class="layout-container"
  [ngClass]="containerClass"
>
  <router-outlet (activate)="onActivateRouterOutlet()"></router-outlet>


</div>
}

@case(PageLayout.error) {
<router-outlet (activate)="onActivateRouterOutlet()"></router-outlet>
}

@case(PageLayout.login) {
<app-unauthorized-layout>
  <router-outlet (activate)="onActivateRouterOutlet()"></router-outlet>
</app-unauthorized-layout>
}

@default {
<app-unauthorized-layout>
  <router-outlet (activate)="onActivateRouterOutlet()"></router-outlet>
</app-unauthorized-layout>
}
}
} @else {
<div class="preloader">
  <ul class="preloader__dots">
    <li class="dots-item"></li>
    <li class="dots-item"></li>
    <li class="dots-item"></li>
    <li class="dots-item"></li>
  </ul>
</div>
}